<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<title>Fumec CRUD</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

</head>

<body ng-controller="myController">

	<div class="container">
		<h1>Fumec Store</h1>
		<br>

		<h2>Add Product</h2>
		<br>
		<div class="alert alert-success" ng-show="productIsAdded">
			Produto adicionado com sucesso!
		</div>
		<div class="alert alert-danger" ng-show="productIsRemoved">
			Produto removido com sucesso!
		</div>
		<div class="alert alert-primary" ng-show="productIsUpdated">
			Produto alterado com sucesso!
		</div>
		<form>
			<div class="form-group">
				<label for="product-name">Product Name</label>
				<input class="form-control" type="text" ng-model="product_.name" placeholder="Name">
			</div>

			<div class="form-group">
				<label for="product-category">Product Category</label>
				<input class="form-control" type="text" ng-model="product_.category" placeholder="Category">
			</div>

			<div class="form-group">
				<label for="product-price">Product Quantity</label>
				<input class="form-control" min="0" type="number" ng-model="product_.quantity" placeholder="Quantity">
			</div>

			<div class="form-group">
				<label for="product-price">Product Price</label>
				<input class="form-control" min="0" type="currency" ng-model="product_.price" placeholder="Price">
			</div>


			<button ng-click="updating ? updateProduct() : addProduct()" ng-class="buttonClass">{{ buttonLabel }}</button> <button ng-click="cancelUpdate()" ng-show="updating" class="btn btn-danger">Cancel</button>
		</form>

		<br>
		<hr>

		<h2>View Products</h2>
		<br>
		<div ng-repeat="product in products">
			<p><strong>Name:</strong> {{ product.name }}</p>
			<p><strong>Category:</strong> {{ product.category }}</p>
			<p><strong>Quantity:</strong> {{ product.quantity }}</p>
			<p><strong>Price:</strong> R$ {{ product.price }}</p>
			<button class="btn btn-primary" ng-click="editProduct(product)">Edit</button> <button class="btn btn-danger"
			 ng-click="removeProduct(product)">Remove</button>
			<hr>
		</div>

	</div>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyCqa7p_UDuXiXEDBpYRiqjkMP071ZRjTaU",
			authDomain: "fumec-50e66.firebaseapp.com",
			databaseURL: "https://fumec-50e66.firebaseio.com",
			projectId: "fumec-50e66",
			storageBucket: "fumec-50e66.appspot.com",
			messagingSenderId: "1041379961382"
		};
		firebase.initializeApp(config);

	</script>
	<script src="js/app.js"></script>

</body>

</html>